# Identity Verification

| API | Description | Link |
|:---|:---|:---|
| BlockScore | A real-time API for verifying an identity by name, address, date of birth, and social security number. | [Link](https://docs.blockscore.com/) |
| Cognito | A powerful API for verifying and retrieving identity information. Can take a customer's cellphone number and return name, address history, full SSN, and date of birth. | [Link](https://cognitohq.com/docs) |
| Whitepages Pro | Global Identity Verification API. Get a clearer picture of your customer. Instantly know if a name, address, phone number, email, and IP all belong to the same person. Every country in the world is supported. | [Link](https://pro.whitepages.com/) |
